name: Build-Workflow

permissions:
  id-token: write
  contents: write

on:
  push:

jobs:
  build:
    runs-on: [windows-latest]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
              fetch-depth: 0

      - name: Checkout 2nd remote repo
        uses: actions/checkout@v4
        with:
              fetch-depth: 0
              ref: main
              token: ${{ secrets.GITHUB_TOKEN }}
              repository: tvcoderindia/TestGitHubActions2
